<div id = "fill_bank" >
	<label for="content">Question Choice</label>
	<table class="table table-striped table-bordered table-user-list">
		<thead>
			<tr>
				<th class="sorting">statement</th>
				<th class="sorting" style="width: 10%;">style</th>
				<th style="width: 2%"><center>isCorrect</center></th>
			</tr>
		</thead>
		<tbody>
			<tr class="question">
				<td><div class="from-group">
						<input name="data[QuestionChoice][statement][1]"
							class="form-control validate_" type="text"
							id="QuestionChoiceStatement1">
					</div></td>
				<td><div class="from-group">
						<input name="data[QuestionChoice][listing_style][1]"
							class="form-control" type="text" id="QuestionChoiceListingStyle1">
					</div></td>
				<td><center>
						<input type="checkbox" name="data[QuestionChoice][is_correct][1]">
					</center></td>
			</tr>
			<tr class="question">
				<td><div class="from-group">
						<input name="data[QuestionChoice][statement][2]"
							class="form-control validate_" type="text"
							id="QuestionChoiceStatement1">
					</div></td>
				<td><div class="from-group">
						<input name="data[QuestionChoice][listing_style][2]"
							class="form-control" type="text" id="QuestionChoiceListingStyle1">
					</div></td>
				<td><center>
						<input type="checkbox" name="data[QuestionChoice][is_correct][2]">
					</center></td>
			</tr>
			<tr class="question">
				<td><div class="from-group">
						<input name="data[QuestionChoice][statement][3]"
							class="form-control validate_" type="text"
							id="QuestionChoiceStatement1">
					</div></td>
				<td><div class="from-group">
						<input name="data[QuestionChoice][listing_style][3]"
							class="form-control" type="text" id="QuestionChoiceListingStyle1">
					</div></td>
				<td>
					<center>
						<input type="checkbox" name="data[QuestionChoice][is_correct][3]">
					</center>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- <button id="btn_add" class="btn btn-warning btn-sm add-row"
		type="button">add</button> -->
	<div style="color: red;" id="choice_"></div>
</div>