<div class="box">
    <div class="box-header" style="background:#ffffff">
    </div>
    <div class="box-content" style="height: 650px;">
    	<p style="text-align: center; font-weight: bold; font-size: 32px; color: #488696;">Welcome <span style="font-size: 70px; color: red;">Together</span> admin</p>
    	<center><img src="assets/img/cute.gif"/></center>
    </div>
</div>