.page-loading { background: #FFF; position: fixed; z-index:9999; font-weight:bold; color:#1b1b1b; padding:5px; top:10%; left:42%; width:200px; height:60px; text-align:center; display:none; border: 1px solid #DDD; border-radius: 5px; }
input[placeholder], [placeholder], *[placeholder] { color: rgb(56, 62, 75) !important; }

.error { color: #a94442; display: none; margin: 3px; }

.sidebar-nav > ul > li { border-bottom: 1px solid #2d323d; }
.sidebar-nav > ul > li > ul > li > a { padding-left: 45px !important; }

input[type=checkbox] { transform: scale(1.3) !important; }
.google_plus:before { color: #C02222;}
.twitter:before { color: #2B89D5;}
.facebook:before { color: #2871D0;}

.fa-check-success { color: #FF8620; font-size: 20px; }

.frm-user-search .form-group { margin-bottom: 10px; }
.frm-setting label { font-weight: normal; margin-left: 6px; margin-right: 6px; }
.frm-setting .form-group { margin-bottom: 5px; }
.input-setting-number { width: 90px; display: inline; }

footer { margin-top: 20px; width: 100%; position: relative;  bottom: 0; }

.jqifade{
	position: absolute; 
	background-color: #777777; 
}
div.jqi{ 
	min-width: 400px; 
	max-width:90%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	position: absolute; 
	background-color: #ffffff; 
	font-size: 11px; 
	text-align: left; 
	border: solid 1px #eeeeee;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 7px;
}
div.jqi .jqicontainer{ 
}
div.jqi .jqiclose{ 
	position: absolute;
	top: 4px; right: -2px; 
	width: 18px; 
	cursor: default; 
	color: #bbbbbb; 
	font-weight: bold; 
}
div.jqi .jqistate{
	background-color: #fff;
}
div.jqi .jqititle{
	padding: 5px 10px;
	font-size: 16px; 
	line-height: 20px; 
	border-bottom: solid 1px #eeeeee;
}
div.jqi .jqimessage{ 
	padding: 10px; 
	line-height: 20px; 
	color: #444444; 
}
div.jqi .jqibuttons{ 
	text-align: right; 
	margin: 0 -7px -7px -7px;
	border-top: solid 1px #e4e4e4; 
	background-color: #f4f4f4;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}
div.jqi .jqibuttons button{ 
	margin: 0;
	padding: 15px 20px;
	background-color: transparent;
	font-weight: normal; 
	border: none;
	border-left: solid 1px #e4e4e4; 
	color: #777; 
	font-weight: bold; 
	font-size: 12px; 
}
div.jqi .jqibuttons button.jqidefaultbutton{
	color: #489afe;
}
div.jqi .jqibuttons button:hover,
div.jqi .jqibuttons button:focus{
	color: #287ade;
	outline: none;
}
.jqiwarning .jqi .jqibuttons{ 
	background-color: #b95656;
}

/* sub states */
div.jqi .jqiparentstate::after{ 
	background-color: #777;
	opacity: 0.6;
	filter: alpha(opacity=60);
	content: '';
	position: absolute;
	top:0;left:0;bottom:0;right:0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
div.jqi .jqisubstate{
	position: absolute;
	top:0;
	left: 20%;
	width: 60%;
	padding: 7px;
	border: solid 1px #eeeeee;
	border-top: none;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}
div.jqi .jqisubstate .jqibuttons button{
	padding: 10px 18px;
}

/* arrows for tooltips/tours */
.jqi .jqiarrow{ position: absolute; height: 0; width:0; line-height: 0; font-size: 0; border: solid 10px transparent;}

.jqi .jqiarrowtl{ left: 10px; top: -20px; border-bottom-color: #ffffff; }
.jqi .jqiarrowtc{ left: 50%; top: -20px; border-bottom-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowtr{ right: 10px; top: -20px; border-bottom-color: #ffffff; }

.jqi .jqiarrowbl{ left: 10px; bottom: -20px; border-top-color: #ffffff; }
.jqi .jqiarrowbc{ left: 50%; bottom: -20px; border-top-color: #ffffff; margin-left: -10px; }
.jqi .jqiarrowbr{ right: 10px; bottom: -20px; border-top-color: #ffffff; }

.jqi .jqiarrowlt{ left: -20px; top: 10px; border-right-color: #ffffff; }
.jqi .jqiarrowlm{ left: -20px; top: 50%; border-right-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowlb{ left: -20px; bottom: 10px; border-right-color: #ffffff; }

.jqi .jqiarrowrt{ right: -20px; top: 10px; border-left-color: #ffffff; }
.jqi .jqiarrowrm{ right: -20px; top: 50%; border-left-color: #ffffff; margin-top: -10px; }
.jqi .jqiarrowrb{ right: -20px; bottom: 10px; border-left-color: #ffffff; }


/*Custom*/

/* Conversation Page*/
.chosen-container-single .chosen-single,  .chosen-container-single .chosen-single *{
	height: 34px;

}
.chosen-container-single .chosen-single > span , .chosen-container-single .chosen-single > div {
	display: inline !important;
	vertical-align: middle;
}

.chosen-container-single .chosen-single div b {
	background: url('https://genesisui.com/demo/simpliq/bootstrap3/assets/css/chosen-sprite.png') no-repeat 0px 6px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background: url('https://genesisui.com/demo/simpliq/bootstrap3/assets/css/chosen-sprite.png') no-repeat -18px 6px;
}

.chat .contacts ul.list li.active {
	background: #c7cbd5;
}

.chat .conversation.custom {
	width:100%
}

.chat .contacts ul.list li.custom {
	padding:15px 10px 10px 60px;
}

.pager.custom {
	margin: 9px 0;
}
