/* Style the list */
ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    /*background-color: #e8e8e8;*/
    font-size: 14px;
    border: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    color : #459300;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 2px;
    color: #459300;
    content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #459300;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}