div.modal div.modal-backdrop {
    z-index: 0;
}
.from-group {
	margin-bottom: 15px;
}
#wrapper .form-actions{
	margin-top:20px;
}
.required label:after {
  content:" *";
  color:red;
}
#wrapper .btn{
	min-width:100px;
	margin-right:20px;
}
#wrapper .row{
	margin-bottom:20px;
}
#wrapper{
	padding:20px;
}
#wrapper .legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
#wrapper .legend h1{
	font-size: 21px;
    line-height: 42px;
    color: #333;
    font-weight: bold;
    margin:0;
}
#wrapper .action{
	background: #fff;
	padding:20px 0;
	overflow: hidden;
	margin-bottom:20px;
}
#wrapper .thumbnail:hover{
	border-color: #337ab7;
	cursor: pointer;
}
#wrapper .table-bordered .table-bordered th,.table-bordered .table-bordered tr, .table-bordered .table-bordered td{
	border-color:pink;
}
#wrapper .text-success{
	font-weight: bold;
}
.table-striped>tbody>tr:nth-of-type(even),thead {
    background-color: #fff;
}

.switch-ct {
	width: 80px;
}

.switch-input-ct:checked ~ .switch-handle {
	left: 65px;
}

.switch-input:checked ~ .switch-label {
	background: #78cd51;
}