<script>

    var iframe = document.createElement("iframe");
    function getMobileOperatingSystem() {
    	  var userAgent = navigator.userAgent || navigator.vendor || window.opera;

    	      // Windows Phone must come first because its UA also contains "Android"
    	    if (/windows phone/i.test(userAgent)) {
    	        return "Windows Phone";
    	    }

    	    if (/android/i.test(userAgent)) {
    	        return "Android";
    	    }

    	    // iOS detection from: http://stackoverflow.com/a/9039885/177710
    	    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
    	        return "iOS";
    	    }

    	    return "unknown";
    	}		
    iframe.style.border = "none";
    iframe.style.width = "1px";
    iframe.style.height = "1px";
    iframe.onload = function () {
        document.prototype
        document.location = "norina://home/matching?driver_id=123&passenger_id=456";
    };
    iframe.src = "norina://home/matching?driver_id=123&passenger_id=456"; //iOS app schema url

    window.onload = function () {
        document.body.appendChild(iframe);
    }
    var check = getMobileOperatingSystem();
    if(check == 'Android'){
    	setTimeout(function () {
            window.location = "<?php echo $android?>"; //fallback url
        }, 300);
        window.location = "<?php echo $app_url?>";
    }else{
    	setTimeout(function () {
            window.location = "<?php echo $ios ?>"; //fallback url
        }, 300);
        window.location = "<?php echo $app_url?>";
       iframe.onload();
       
    }

    var timeout;

    function preventPopup() {
        clearTimeout(timeout);
        timeout = null;
        window.removeEventListener('pagehide', preventPopup);
    }

    function openApp() {
        $('<iframe />')
                .attr('src', "norina://home/matching?driver_id=123&passenger_id=456")
                .attr('style', 'display:none;')
                .appendTo('body');

        timeout = setTimeout(function () {
            document.location = "";
        }, 500);
        window.addEventListener('pagehide', preventPopup);
    }
    
    
    var now = new Date().valueOf();
    setTimeout(function () {
        if (new Date().valueOf() - now > 100)
            return;
        window.location = "https://itunes.apple.com/jp/app/%E5%89%B2%E3%82%8A%E5%8B%98%E3%81%A7%E5%BE%97%E3%81%99%E3%82%8B%E7%9B%B8%E4%B9%97%E3%82%8A%E3%82%A2%E3%83%97%E3%83%AA-nori-na-%E3%83%8E%E3%83%AA%E3%83%BC%E3%83%8A/id1133036671";
    }, 25);
    window.location = "norina://home/matching?driver_id=123&passenger_id=456";
</script>