<h1><?php echo h($category['WordCategory']['category_title']); ?></h1>
<p>Description: <?php echo $category['WordCategory']['category_description']; ?> </p>

<small>Updated: <?php echo $category['WordCategory']['updated_datetime']; ?></small>

<p><?php echo h($category['WordCategory']['id']); ?></p>