<div class="box">
    <div class="box" style="margin-bottom:1px;">
    <div class="box-header" style="background:#ffffff">
        <a href="/games/setting" class="pull-left btn btn-success btn-sm" style="margin:10px;"><i class="fa fa-list"></i> GAME SETTINGS</a>
        <a href="/games" class="pull-left btn btn-success btn-sm" style="margin:10px;"><i class="fa fa-list"></i> GAMES LIST</a>
    </div>
    <hr/>
    <?= $this->Session->flash('gamelist'); ?>
    <div class="box-content">
        Coming Soon !
    </div>
</div>
<script src="js/teams.js"></script>