<script  src="https://code.jquery.com/jquery-3.1.1.js"></script>
<div>
    create auto user
    <input id="user_number" type="number">
    <button onclick="create_user()">create</button>
</div>
<script>
    function create_user() {
        var number =document.getElementById('user_number').value;
        var r = confirm("Are you sure paying for this driver ! ");
        if (r == true) {
            $.ajax({
                url: 'http://localhost/together/together-api/scripttest/create_user/',
                method: "POST",
                data: {number: number}
            }).done(function (msg) {
                alert(msg);
//                location.reload();
            });
        }
    }
</script>